<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>BlogSpot</title>
    <style>
        /* Add custom styles here if needed */
        body {
            padding-top: 56px; /* Adjust for the fixed navbar height */
        }

        .center-buttons {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand mx-auto" href="index.html" >Blog Spot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    

    <!-- Main Content -->
    <div class="container">
        <div class="center-buttons">
            <h1>Welcome to Blog Spot</h1>
            <div>
                <button class="btn btn-primary mr-2" onclick="loginPage()">Login</button>
                <button class="btn btn-secondary"  onclick="loadRegisterPage()">Register</button>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function loginPage() {
            // Redirect to the blogpost_list.html page
            window.location.href = 'login.html';
        }
        function loadRegisterPage(){
            window.location.href = 'register.html'
        }
        
    </script>
</body>
</html>
